.full-card-container .full-card-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.full-card-container .full-card-title h4 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.full-card-container .full-card {
  width: 100%;
  height: auto;
  
  padding: 5px 20px;
  margin-bottom: 40px;

  background: var(--white);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.full-card-container .full-card-no-body {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px){
  .full-card-container .full-card-title {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
}
