.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: var(--white) !important;
}

.side-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.side-login .welcome-text h2, .side-login .welcome-text p{
  line-height: 40px;
}

.side-login .welcome-text h2 {
  font-size: 2rem;
}

.side-login .welcome-text p {
  font-size: 1.1rem;
}

.side-login .login .input-block {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  margin-bottom: 15px;
}

.forgotten-password {
  display: flex;
  justify-content: flex-end;

  margin-top: 8px;
}

.side-image {
  display: none;
}

@media screen and (min-width: 770px) {
  .login-container{
    display: grid;
    justify-content: none !important;
    grid-template-columns: 1.5fr 2fr;
    height: 100vh !important;
  }

  .filter {
    background-color: black !important;
  }
  
  .side-image {
    display: flex !important;
  }

  .image {
    background-image: url("/src/assets/images/login.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    filter: brightness(65%);
  }
    
}
    
