.list-card {
  width: 100%;
  height: auto;
  max-height: 180px;
  padding: 30px;

  background: var(--white);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  margin-bottom: 20px;
}

.list-card .list-info h4 {
  font-weight: 400;
}

.list-info a, .list-btn a {
  text-decoration: none !important;
}

@media screen and (min-width: 770px){
  .list-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    height: 40px !important;
  }
}