.div-filters{
    display: flex;
    justify-content: flex-end;
}
.enforcement-select{
    width: 260px;
    float: right;
}
.title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.chart-container {
    background-color: var(--white);
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
