.page-title-container {
  margin-bottom: 40px;
}

.page-title-container .page-title-h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 30px;
  margin-top: 20px;
}

.page-title-container .page-title-back-button a {
  text-decoration: none;
}

.page-title-container .page-title-back-button button {
  border-radius: 50px;
}


@media screen and (min-width: 770px){
  .page-title-container .page-title-h2 {
    font-size: 2.2rem !important;
  }
}