.home-container {
    width: 90vw;
    height: 90vh;
}

.side-navigation{
    width: 100%;
    
}
.boxes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
