.educational-test-progress-container {
  margin: 50px 100px;
}

.educational-test-progress-container 
.educational-test-progress-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.educational-test-progress-container 
.educational-test-progress-header
.educational-test-progress-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.educational-test-progress-container 
.educational-test-progress-header
.educational-test-progress-title h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.educational-test-progress-coutdown h4 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.educational-test-progress-coutdown svg {
  color: var(--green);
}

.educational-test-progress-container 
.educational-test-progress-body {
  margin-top: 80px;
  margin-bottom: 80px;
}

.educational-test-progress-container 
.educational-test-progress-body
.educational-test-progress-question {
  width: 100%;
  height: auto;

  background: var(--white);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  margin-bottom: 50px;
}

.educational-test-progress-container 
.educational-test-progress-body
.educational-test-progress-question
.educational-test-question-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 60px;
}

.educational-test-progress-container 
.educational-test-progress-body
.educational-test-progress-question
.educational-test-question-container
.educational-test-question-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.educational-test-progress-container 
.educational-test-progress-body
.educational-test-progress-question
.educational-test-question-container
.educational-test-question-name {
  text-transform: uppercase;
}

.educational-test-progress-container 
.educational-test-progress-body
.educational-test-progress-question
.educational-test-question-container
.educational-test-question-description {
  font-size: 1.2rem;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .educational-test-progress-container 
  .educational-test-progress-header {
    flex-direction: row !important;
  }

}
