.input-block {
  margin-top: 15px;
  margin-bottom: 15px;
}

.editor {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  padding: 20px;
}

.editor-label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5px;
}

.editor-label label  {
  font-size: 1rem;
  font-weight: 400;

  color: var(--text);
}

.editor .editor-input {
  margin-top: 20px;
}

.p-spacing {
  margin-bottom: 15px;
}

.chips-block {
  display: flex;
  gap: 5px;
}