.input-block {
  margin-top: 15px;
  margin-bottom: 15px;
}

.editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.p-spacing {
  margin-bottom: 15px;
}

.chips-block {
  display: flex;
  gap: 5px;
}