.questions-view-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.questions-view-list .question-view-items h4,
.questions-view-list .alternative-view-items h4 {
  margin-bottom: 5px;
  color: var(--text);
}
